[submodule "googletest/googletest"]
	path = googletest/googletest
	url = https://github.com/google/googletest.git
[submodule "Nirvana/SRC"]
	path = Nirvana/SRC
	url = //NAS/Home/Git/N/Library
[submodule "Nirvana/ORB"]
	path = Nirvana/ORB
	url = //nas/Home/Git/N/ORB
